@font-face {
    font-family: 'Poller One';
    src: url('PollerOne-Regular.woff2') format('woff2'),
        url('PollerOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

