html, body {
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(to 
 bottom right, #95d9f9, #ae4bc3);
 }
 h1 {
    font-family: tahoma, sans-serif;
    opacity: 60%;
    position: absolute;
    -webkit-text-stroke: 2px white;
 }
 .globe {
    text-align: center;
    margin-top: 50px;
 }
 .globe_image{
    height: 90vh;
 }
 